<mat-toolbar class = "header">
  <span><img src="/assets/images/kpmgLogo(1).png" height=50 width=100></span>
  <a href = "#" mat-button  style="color: white"><span class="fa fa-file fa-lg"></span> File</a>
  <a href = "#" mat-button  style="color: white"><span class="fa fa-view fa-lg"></span> View</a>
  <a href = "#" mat-button  style="color: white"><span class="fa fa-edit fa-lg"></span> Edit</a>
  <a href = "#" mat-button  style="color: white"><span class="fa fa-help fa-lg"></span> Help</a>
  <span class = "flex-spacer"></span>
  
</mat-toolbar>



