.sidenav{
	position: fixed;
	top:72px;
	bottom:0;
	left:0;
	right:0;
	background: #eee;
	column-width: 175px;
	max-width: 175px;
	max-height: 250px;	
}
table{

	width:100%;

 
}

.datatable{

	height:  380px;
	overflow: auto;
}